<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-vcd-index") %>>
          <a href="/docs/providers/vcd/index.html">VMware vCloudDirector Provider</a>
        </li>

        <li<%= sidebar_current("docs-vsphere-data-source") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vcd-data-source-lb-service-monitor") %>>
              <a href="/docs/providers/vcd/d/lb_service_monitor.html">vcd_lb_service_monitor</a>
            </li>
            <li<%= sidebar_current("docs-vcd-data-source-lb-server-pool") %>>
              <a href="/docs/providers/vcd/d/lb_server_pool.html">vcd_lb_server_pool</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-vcd-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vcd-resource-org") %>>
              <a href="/docs/providers/vcd/r/org.html">vcd_org</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-org-user") %>>
              <a href="/docs/providers/vcd/r/org_user.html">vcd_org_user</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-catalog") %>>
              <a href="/docs/providers/vcd/r/catalog.html">vcd_catalog</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-catalog-item") %>>
              <a href="/docs/providers/vcd/r/catalog_item.html">vcd_catalog_item</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-catalog-media") %>>
              <a href="/docs/providers/vcd/r/catalog_media.html">vcd_catalog_media</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-dnat") %>>
              <a href="/docs/providers/vcd/r/dnat.html">vcd_dnat</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-external-network") %>>
              <a href="/docs/providers/vcd/r/external_network.html">vcd_external_network</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-firewall-rules") %>>
              <a href="/docs/providers/vcd/r/firewall_rules.html">vcd_firewall_rules</a>
            </li>
            <li<%= sidebar_current("docs-vcd-independent-disk") %>>
              <a href="/docs/providers/vcd/r/independent_disk.html">vcd_independent_disk</a>
            </li>
            <li<%= sidebar_current("docs-vcd-inserted-media") %>>
              <a href="/docs/providers/vcd/r/inserted_media.html">vcd_inserted_media</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-network") %>>
              <a href="/docs/providers/vcd/r/network.html">vcd_network</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-network-routed") %>>
              <a href="/docs/providers/vcd/r/network_routed.html">vcd_network_routed</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-network-direct") %>>
              <a href="/docs/providers/vcd/r/network_direct.html">vcd_network_direct</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-network-isolated") %>>
              <a href="/docs/providers/vcd/r/network_isolated.html">vcd_network_isolated</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-snat") %>>
              <a href="/docs/providers/vcd/r/snat.html">vcd_snat</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-edgegateway") %>>
              <a href="/docs/providers/vcd/r/edgegateway.html">vcd_edgegateway</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-edgegateway-vpn") %>>
              <a href="/docs/providers/vcd/r/edgegateway_vpn.html">vcd_edgegateway_vpn</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-vapp") %>>
              <a href="/docs/providers/vcd/r/vapp.html">vcd_vapp</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-vapp-network") %>>
              <a href="/docs/providers/vcd/r/vapp_network.html">vcd_vapp_network</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-vapp-vm") %>>
              <a href="/docs/providers/vcd/r/vapp_vm.html">vcd_vapp_vm</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-org-vdc") %>>
              <a href="/docs/providers/vcd/r/org_vdc.html">vcd_org_vdc</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-lb-service-monitor") %>>
              <a href="/docs/providers/vcd/r/lb_service_monitor.html">vcd_lb_service_monitor</a>
            </li>
            <li<%= sidebar_current("docs-vcd-resource-lb-server-pool") %>>
              <a href="/docs/providers/vcd/r/lb_server_pool.html">vcd_lb_server_pool</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
